 /*
 font-family: 'Open Sans', sans-serif;
 font-family: 'Roboto', sans-serif;
 */

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
body {
  background-color: lightgray;
}

header {
  width: 100%;
  height: 100px;
  background-color: white;
}
nav {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  /* background-color: white; */
  position: relative;
}

nav a {
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;

}

/*-------------LOGO------------------*/
.logo {
  position: absolute;
  left: 2%;
  top: 50%;
 transform: translatey(-50%); auto;
}
.logo a {
  font-family: helvetica, arial, sans-serif;
  font-weight: bolder;
  color: black;
}
.logo span {
  color: lightgray;
}



/*-------------main nav--------------*/

.main-nav a {
    font-family: 'Roboto', sans-serif;
}

.div2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.div3 {
  position: absolute;
  right: 2%;
  top: 50%;
 transform: translatey(-50%); auto;
}




/*-----------main-------------*/
main {
  margin: 0 auto;
  width: 80%;
  height: 1000px;
  background-color: white;
  background-image: url("../img/main_img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 80px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
