/*
bg #3E474F
hover black
text white
font :
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
font-family: 'Nunito', sans-serif;


<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

*/


* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  background-color: lightgray;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  filter: drop-shadow(0 5px 0.3rem gray);
  padding: 50px 20%;
}
p {
  margin: 1em 0;
}

nav a {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 1.2em;
  color: lightgray;
  text-decoration: none;
}

nav li {
  list-style-type: none;
}

nav {
 /* padding: 20px 0; */
}


.main-header {
  width: 100%;
  /* height: 70px; */
  background-color: #3E474F;
}

.navbar {
  box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
  padding: 20px 40px;


}


.navbar,
.logo-img a,
.user-nav {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar a:hover {
  color: white;

}

/*--------------LOGO IMAGE ---------------*/



.logo-img img {
  width: 30px;
  margin-right: 10px;
}

.logo-img span{
  margin-right: 15px;
  padding-right: 15px;
  border-right: 2px solid lightgray;
}



.main-nav {

}

.user-nav {
  margin-left: auto;
}

.user-nav li:first-child {
  padding-right: 15px;
  border-right: 2px solid lightgray;
}


/*-----------------MAIN NAVIGATION---------------------*/


/*-----------------USER NAVIGATION---------------------*/


.border-circle {
  padding: 3px;
  border: 2px solid lightgray;
  border-radius: 50%;
}

/*POSITIONS*/
